<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Movies</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.
        It’s built with default Bootstrap components and utilities with little customization.</p>
</div>
<div class="container">
    <div class="card-columns">
        <div *ngFor="let movie of movies"
              class="card">
            <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <small>{{movie.release_date}}</small>
                <p class="card-text">{{movie.overview}}</p>
            </div>
        </div>
    </div>
</div>
